<?xml version="1.0"?>
<config>
    <modules>
        <ValidAge_PaymentAgeVerification>
            <version>0.0.1</version>
        </ValidAge_PaymentAgeVerification>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>ValidAge_PaymentAgeVerification_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <paymentageverification>
                <class>ValidAge_PaymentAgeVerification_Model</class>
            </paymentageverification>
        </models>
        <helpers>
            <paymentageverification>
                <class>ValidAge_PaymentAgeVerification_Helper</class>
            </paymentageverification>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <validage_paymentageverification>
                        <class>ValidAge_PaymentAgeVerification_Model_Observer</class>
                        <method>ageVerification</method>
                        <type>singleton</type>
                    </validage_paymentageverification>
                </observers>
            </sales_order_place_after>
			<sales_order_save_after>
				<observers>
                    <validage_paymentageverification>
						<type>singleton</type>
                        <class>ValidAge_PaymentAgeVerification_Model_Observer</class>
						<method>changeOrderStatus</method>
                    </validage_paymentageverification>
				</observers>
			</sales_order_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <validage_paymentageverification module="ValidAge_PaymentAgeVerification">
                    <file>validage_paymentageverification.xml</file>
                </validage_paymentageverification>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <validage_options>
                                            <title>Store Hello World Module Section</title>
                                        </validage_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>